# =========================
# PostgreSQL Configuration
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=e-commerce

# =========================
# Redis Configuration
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
