# =========================
# PostgreSQL Configuration
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=e-commerce

# =========================
# Redis Configuration
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379


# =========================
# JWT Secrets Configuration
# =========================
ACCESS_TOKEN_SECRET=your_access_token_secret_here_min_32_chars
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here_min_32_chars

# =========================
# OTP Configuration
# =========================
OTP_EXPIRES_IN=300 # 5 minutes
OTP_LENGTH=6

# Environment
NODE_ENV=development # production | development
